/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END OF RESET CSS*/

/*CSS FOR BODY OF ALL PAGES*/
body{
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.575em;
    
}

/*START OF CSS FOR LOGIN PAGE*/
h2{
	font-size: 1.8em;
	color: #484848;
	line-height: 1.728em;
}
p{
	font-size: 1.5em;
	color: #c9c9c9;
}
a{
	font-size: .937em;
}
label{
	color: #484848;
}
#image{
	width:6em;
	margin: auto;
	padding: 6em 0 4em 0;
}
img{
	width: 6em;
	margin: auto;
}
form{
	margin: auto;
	padding: 2.822em 0 10em 0;
	width: 20em;
}
form > a{
	float: right;
	display: block;
}
input, label{
	margin: auto;	
	display: block;
	width: 100%;
}
input{
	border: .15em solid #c9c9c9;
	border-radius: .188em;
	padding: .3em;
}
input:focus{
	border: .15em solid #484848;
}
#submit{
	border: .05em solid #c9c9c9;
	width:10em;
	margin: 1.575em 0 0 0;
	background: #c9c9c9;
	-webkit-appearance: none;
	-moz-appearance: none;
}
footer{
	background: #c9c9c9;
	text-align: center;
	padding: 1.822em 0 1.822em 0;
}
footer > a{
	display: block;
}
/*END OF LOGIN PAGE CSS*/

/*START OF CSS FOR NAVIGATION BAR*/
/*FOR THE TOP OF THE MENU BAR WITH THE IIT LOGO*/
#menubar{
    width:100%;
    background: #212121;
    height:55px;
    line-height:2.5em;
    text-indent:0.625em;
    cursor:pointer;
    text-align: center;
    padding-bottom: 0.5em;
    position: fixed;
    top:0em;
    
}
/*THIS IS FOR THE MENU THAT APPEARS WHEN YOU CLICK THE THREE BAR ICON*/
#menu{
    width:9.375em;
    height:100%;
    position:fixed;
    background:#212121;
    margin-left:-12.5em;
    position: fixed;
    top: 3.9em;
    
    
    }
/*IIT LOGO IN THE TOP MENU BAR*/
#logo{
 height: 3em;
 width: 10em;
 padding-top: 0.3em;
 
}

/*STYLINGS FOR THE MENU NAMES*/
#menu ul{
    margin:0;
    padding:0 0;
    width:100%;
    list-style:none;
    
    }
/*SUBMENU STYLINGS*/
#menu ul li a{
    color:white;
    text-decoration:none;
    display:block;
    padding:0.625em 0.625em;
    border-bottom:solid 1px #333;
    }
/*COLOR TO CHANGE WHEN YOU HOVER OVER A MENU/SUBMENU ITEM*/  
#menu ul li a:hover{
    background:#b71c1c;
    }

/*MORE SUBMENY STYLINGS*/
.submenu{
    background:#383838 ;
    font-size: 0.750em;
    padding-left: 0.313em;
}

/*AFFECTS THE THREE BAR MENU INDICATOR*/
#menulink{
    float: left;
    padding-top: 1.5%;
    }

/*HORIZONTAL THREE BAR ICON*/
#threebar{
    height:2.2em;
    width: 2.2em;
    padding-top: 1%;
    
}
/*VERTICAL THREE BAR ICON
*I had to duplicate this for the javascript to work.
*js would not use the same stylings "threebar" for both pictures.
*/
#threebarc{
    height:2.2em;
    width: 2.2em;
    padding-top: 1%;
    
}

/*STYLING FOR THE LITTLE ARROWS NEXT TO MENU ITEMS*/
.arrow{
    height: 0.94em;
    width: 1.7em;
    float: right;
}
/*END OF NAV BAR CSS*/



/*START OF PERSONAL INFORMATION PAGE CSS*/
#section {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    list-style: none;
    padding: 0 0 0 0;
    width: 50em;
    display: block;
    margin: 10em auto;
}

#section .section-header{
    display: block;
    background-color: #F3F3F3;
    margin: 0.2em;
    padding: 1em 0.2em;
    cursor: pointer;
    list-style: circle;
    border-radius: 0.2em;
    font-size: 0.937em;
}

#section .section-content{
    list-style: none;
    background-color: #D6D6D6;
    width: 98%;
    margin: 0 auto;
}

#section .section-content{
    display: none;
}


#section .section-header .label {
    font-weight: 700;
    display: inline-block;
    padding-left: 1em;
    width: 12em;
}

#section .section-header .summary {
    display: inline-block;
    width: 37em;
}

#section .section-header .edit {
    font-size: 0.8em;
    text-decoration: underline;
}

#section .section-content .bold {
    display: inline-block;
    font-weight: 400;
    width: 10em;
}

#section .section-content .cotainer {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

#section .section-content .content {
    display: inline-block;
    width: 12em;
}

#section .section-content .remove {
    display: inline-block;
    width: 2em;
}

#section .section-content .button {
    text-align: center;
}

.emer-table {
    border-collapse: collapse;
    margin: 0em 5em 1em 5em;
}

.emer-table, th, td {
    border: 1px solid black;
    padding: 0.2em;
}

.mar-select {
    margin-bottom: 1em;
}

/*END OF PERSONAL INFORMATION CSS*/


/*START OF WELCOME PAGE CSS*/
#welcome body{
    margin: 0%;
    padding: 0%;
	background: #f9f9f9;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#welcome header {
	background-color: grey;
	display: block;
	text-align: left;
	padding: 0.5em;
	font-family: 'Lato', sans-serif;
	color: white;
}

#welcome img.headerLogo {
	float: right;
	height: 3em;
	top: 0.8em;
	right: 3em;
}

#welcome footer {
	background-color: grey;
	display: block;
	text-align: left;
	padding: 1em;
	font-family: 'Lato', sans-serif;
	color: white;
}

#welcome img.footerLogo {
	float: right;
	height: 3.5em;
	padding: 0.5em 4em 0em 0em;
}

#welcome section {
	display: block;
	text-align: left;
	padding: 3em 0em 3em 0em;
	font-family: 'Lato', sans-serif;
}

#welcome h1 {
	font-size: 2.4em;
	padding: 0.5em 0.5em 0.5em 2em;
}

#welcome h2 {
	font-size: 1.8em;
	padding: 2em 0.5em 0.5em 1em;
}

#welcome h3 {
	font-size: 1.4em;
	color: white;
	padding: 0.5em 0.5em 0.5em 1.8em;
	background-color: grey;
}

#welcome h4 {
	font-size: 1.1em;
	padding: 0.5em 0.5em 0.5em 2.5em;
}

#welcome ul {
	text-align: left;
	padding: 0.5em 0.5em 0.5em 3.2em;
}

#welcome li {
	list-style-type: square;
	margin: 1em;
	font-size: 1em;
}

#welcome p {
	font-size: 1em;
	padding: 0.2em 0.2em 0.2em 2.7em;
}

#welcome p.legal {
	font-size: 0.8em;
	border-color: white;
	border-style: solid;
	border-width: 0.1em 0 0 0;
	margin: 4em 3em 0em 3em;
	text-align: center;
}



@media screen and (max-width: 47.9375em) {
    /*Changes the personal information page for mobile.*/
    #section {
        width: 25em;
        display: block;
        margin: 4em auto;
    }

    #section .section-header .label {
        font-weight: 700;
        padding-left: 1em;
    }

    #section .section-header .summary {

        padding: 0.5em 0em 0.5em 1em;
    }

    #section .section-header .edit {
        text-decoration: underline;
        padding-left: 30em;
    }


    .emer-table {
        margin: 0em 5em 1em 4em;
    }

    #section .section-content{
        font-size: 0.85em;
    }   
    
}

