body{
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
}

/*FOR THE TOP OF THE MENU BAR WITH THE IIT LOGO*/
#menubar{
    width:100%;
    background: #212121;
    height:55px;
    line-height:2.5em;
    text-indent:0.625em;
    cursor:pointer;
    text-align: center;
}
/*THIS IS FOR THE MENU THAT APPEARS WHEN YOU CLICK THE THREE BAR ICON*/
#menu{
    width:9.375em;
    height:100%;
    position:fixed;
    background:#212121;
    margin-left:-12.5em;
    
    }
/*IIT LOGO IN THE TOP MENU BAR*/
#logo{
 height:95%;
}

/*STYLINGS FOR THE MENU NAMES*/
#menu ul{
    margin:0;
    padding:0 0;
    width:100%;
    list-style:none;
    
    }
/*SUBMENU STYLINGS*/
#menu ul li a{
    color:white;
    text-decoration:none;
    display:block;
    padding:0.625em 0.625em;
    border-bottom:solid 1px #333;
    }
/*COLOR TO CHANGE WHEN YOU HOVER OVER A MENU/SUBMENU ITEM*/  
#menu ul li a:hover{
    background:#b71c1c;
    }

/*MORE SUBMENY STYLINGS*/
#submenu{
    background:#383838 ;
    font-size: 0.750em;
    padding-left: 0.313em;
}

/*AFFECTS THE THREE BAR MENU INDICATOR*/
#menulink{
    float: left;
    padding-top: 1.5%;
    }

/*HORIZONTAL THREE BAR ICON*/
#threebar{
    height:2.2em;
    width: 2.2em;
    padding-top: 1%;
}
/*VERTICAL THREE BAR ICON
*I had to duplicate this for the javascript to work.
*js would not use the same stylings "threebar" for both pictures.
*/
#threebarc{
    height:2.2em;
    width: 2.2em;
    padding-top: 1%;
}

/*STYLING FOR THE LITTLE ARROWS NEXT TO MENU ITEMS*/
#arrow{
    height: 0.94em;
    width: 1.7em;
    float: right;
}